<% layout('/layouts/boilerplate') -%>

<div class="row">
  <div class="col-8 offset-2">
    <h1>Create new Listing</h1>
    <br /><br />
    <form action="/listings" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          id="title"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a Title.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          id="description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a Description.</div>
      </div>
      <div class="mb-3">
        <label for="image-url" class="form-label">Image-url</label>
        <textarea
          type="text"
          name="listing[image.url]"
          id="image-url"
          class="form-control"
        ></textarea>
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            id="price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price.</div>
        </div>

        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            id="country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid country name .
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          id="location"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location.</div>
      </div>
      <br /><br />
      <div>
        <button type="submit" class="btn btn-dark add-btn">
          Create Listing
        </button>
      </div>
      <br /><br />
    </form>
    <script>
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </div>
</div>
