<% layout('/layouts/boilerplate') -%>
<body>
    <h1>Create new Listing</h1>
    <form action="/listings" method="post">
        <label for="title">Title</label>
        <input type="text" name="listing[title]" id="title">
        <br><br>
        <label for="description">Description</label>
        <textarea type="text" name="listing[description]" id="description"></textarea>
        <br><br>
        <label for="price">Price</label>
        <input type="number" name="listing[price]" id="price">
        <br><br>
        <label for="location">Location</label>
        <input type="text" name="listing[location]" id="location">
        <br><br>
        <label for="country">Country</label>
        <input type="text" name="listing[country]" id="country">
        <br><br>
        <button type="submit">Create Listing</button>
    </form>
    
</body>
